body {
    background-color: rgb(144,132,124);
    margin: 0px;
  }

.title {
    text-align: center;
    font-size: 34px;
  }

  .input {
	border: 0;
	box-sizing: border-box;
	color: #08971c;
	font-size: 28px;
	height: 50px;
	outline: 0;
	padding: 4px 20px 0;
	width: 100%;
	border: 2px solid rgb(150, 103, 16);
  background: rgb(112,180,116);
}
.rectangle {
    background-color: rgb(160, 124, 44);
    padding: 20px;
    width: 800px;
    height: 630px;
    margin: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 5px solid rgb(129, 63, 15);
  }


  .bouton {
    background-color: rgb(96,84,76);
    border: 2px solid rgb(168, 104, 28);
    color: black; 
    padding: 10px 20px; 
    font-weight: bold; 
    height: 1.25cm;
    width: 5cm;
  }

  .bouton:hover{
    cursor: pointer;
  }
  .bouton a{

    color: black; 
    text-decoration: none;
  }

  .input-container-form4 {
    position: relative;
  }
  
  .retour {
    position: absolute;
    top: 16.3cm;
    right: 1cm;
  }

  .connec {
    position: absolute;
    top: 16.3cm;
    right: 9cm;
  }

  .compt {
    position: absolute;
    top: 16.3cm;
    left: 1cm;
  }

  .ic1>*::placeholder {
    font-size: 14px;
    color: maroon;
  }

.creer_compte{
    width: 85%;
    background-color: #8f8778;
    min-height: 100vh;
    position: relative;


    top: calc(0vh + 100px);
    left: calc(0vh + 15%);
    margin-bottom: 100px;
}