body{
  background-color:rgb(144,132,124) ;
  margin: 0%;
}
.menu_vente{
  margin-left: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  top: calc(0vh + 100px);
  position: relative;;
  margin-bottom: 100px;
}
.listepr{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 75%;
}
ul{
  list-style: none;
}


.listeprli{
  border-right: 2px solid rgb(168, 104, 28);;
  border-top: 2px solid rgb(168, 104, 28);
  margin-top: 5%;
  padding: 2%;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.boutton{
  border: 3px solid #a16510;
  background-color: #9d7d2b;
  height: 60px;
  width: 100px;
}