body {
    background-color: rgb(144,132,124);
  }

.element_prec {
  position: absolute;
    right: 19cm;
}

h1{
  display:inline-block;
  font-size: 38px;
}


  pre {
    text-align: center;
    font-size: 34px;
  }

  .ligne {
    width: 33cm;
    height: 10px;
    border-top: 3px solid black;
    position: absolute;
    right: 8cm;
  }

  .compléter {
    position: absolute;
    top: 10cm;
    right: 1cm;
  }
