.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
  }
  
  .product-image {
    display: flex;
    flex: 1;
    margin-right: 20px;
  }
  
  .product-image img {
    width: 100%;
    height: auto;
  }
  
  .product-details {
    display: flex;
    flex-direction: column;
    flex: 2;
    margin-left: 10%;
  }
  
  .product-details h1 {
    font-size: 24px;
    margin-top: 0;
  }
  
  .product-details p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  form {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  label {
    margin-right: 10px;
    font-size: 16px;
  }
  
  input {
    width: 50px;
    font-size: 16px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  button {
    background-color: #337ab7;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
  }

  .autre{
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  ul{
    list-style: none;
    padding: 0%;
}
  .liste_info{
    display: flex;
  }

  li{
    margin: 10%;
    position: relative;
    border: black;
    border-style: solid;
  }