body{
    display: grid;
    width: 100%;
    height: 100%;
}
.div_image_pcom{
    height: 45vh;
    grid-column: 1/3;
    background-color: aqua;
    border-radius: 1%;
}
li{
    list-style: none;
    padding: 0%;
}
ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    grid-column: 3/3;
    grid-row: 1/3;
}

.info_produit{
    grid-row: 2/3;
}